body {
    margin: 0;
    background-color: #ebebeb;
    font-family:      Georgia, "Times New Roman", Times, serif;
    font-size:        small;
}

#head-content {
    background-color: #FE7276;
<<<<<<< HEAD
}

#main-content {
    width: 800px;
    margin: 0px auto;
    background-color: #fff;
}

#head-content header.top {
=======
}

#main-content {
    width: 800px;
    margin: 0px auto;
    background-color: #fff;
}

header.top {
>>>>>>> Lee
    width: 800px;
    margin: 0px auto;
    background-color: #FE3F44;
    height: 120px;
}

div#tableContainer {
    display: table;
}

div#tableRow {
    display: table-row;
}

a:link {
    color:            #b76666;
    text-decoration:  none;
    border-bottom:    thin dotted #b76666;
}

a:visited {
    color:            #675c47;
    text-decoration:  none;
    border-bottom:    thin dotted #675c47;
}

section#left-panel {
    display: table-cell;
    background-color: #FE7276;
}

section#left-panel nav#left-nav a.menuItem {
    display: block;
    font-size: 1.2em;
    border-bottom: none;
<<<<<<< HEAD
    padding: 5px 10px;
=======
    padding: 5px 40px;
>>>>>>> Lee
}

nav#left-nav a.menuItem:hover {
    background-color: #FE3F44;
<<<<<<< HEAD
=======
}

section#main-panel table#stock-table {
    margin: 20px;
    border: thin solid black;
    background-color: light-gray;
    border-collapse: collapse;
    padding: 10px;
    width: 630px;
}

tr:nth-child(odd) {
    background-color: #f0efef;
}

td, th {
    padding: 5px;
>>>>>>> Lee
}