body {
    margin: 0;
    background-color: #DFE2DB;
    font-family:      Georgia, "Times New Roman", Times, serif;
    font-size:        small;
}

h2 {
    font-size: 2.0em;
    margin-top: 0px;
}

section#main-content {
    margin: 5px auto;
}

section#top-panel {
    height: 90px;
    min-width: 750px;
    background-color: #191919;
    padding: 5px;
    margin: 10px 0px;
}

img#logo {
    float: left;
}


div#list {
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}

div#sBox {
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}

div#main_div {
    display: table-cell;
    height: 100%;
}


input#searchBox {
    padding: 5px 15px;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 20px;
}

input#searchButton, input#listButton {
    padding: 5px 15px;
    font-size: 14px;
    height: 32px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #191919;
    border-left: 0px;
    background-color: #009999;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

input#searchButton {
    margin-left: -5px;
}

input#listButton {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

input#searchButton:hover {
    background-color: #535389;
}

div#filter_div, div#chart_div, input#listButton,input#searchBox, input#searchButton, h3#filter_btn, h3#open_ranges {
    border: thin solid #8b8b8b;
}


div#filter_div {
    background-color: #fff;
    padding-bottom: 0px;
    float: left;
    min-width: 187px;
    margin: 0px 10px;
}

div#filter_table {
    padding-top: -10px;
}

div#filter_table_main {
    display: table-cell;
}

div#filter_table_ranges {
    width: 0px;
    padding: 0px 10px 0px 20px;
    border-left: thin dotted gray;
    z-index: 1;
}


div#chart_div {
    height: calc(100% - 130px);
    width: calc(100% - 221px);
    position: absolute;
    z-index: 0;
}

div.table_cell {
    display: table-cell;
}

div.table_container {
	display: table;
	border-spacing: 10px;
}

div.table_row {
	display: table-row;
}







h3.btn {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}


p.slider_label {
    font-size: 0.8em;
}

/*stock-list.html*/
section#list-panel {
    background-color: #DFE2DB;
    height: 500px;
}
