body {
    margin: 0;
    background-color: #fff;
    font-family:      Georgia, "Times New Roman", Times, serif;
    font-size:        small;
}

h1 {
    font-size: 4.0em;
}

h2 {
    font-size: 2.0em;
    margin-top: 0px;
}

section#main-content {
    width: 1200px;
    margin: 5px auto;
    background-color: #fff;
    height: 500px;
}

h1#title {
    display: inline;
}

div#sBox {
    display: inline;
    float: right;
    margin-top: 15px;
}

div#chart_div {
    width: 1200px;
    height: 570px;
    z-index: 1;
}

section#top-panel {
    padding: 5px;
    margin: 10px 0px;
    vertical-align: top;
}

input#searchBox {
    margin: 0;
    padding: 5px 15px;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 20px;
}

input#searchButton {
    margin: 0;
    margin-left: -4px;
    padding: 5px 15px;
    font-size: 14px;
    height: 32px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #d1d1d1;
    border-left: 0px;
    background-color: #79afc1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

input#searchButton:hover {
    background-color: #535389;
}

input#searchBox, input#searchButton, h3#filter_btn, h3#open_ranges {
    border: thin solid #8b8b8b;
}


div#filter_div {
    display: table-cell;
    vertical-align: top;
    background-color: #fff;
    padding-bottom: 0px;
    border-right: thin dotted gray;
}

div#filter_table {
    padding-top: -10px;
}

div#filter_table_main {
    display: table-cell;
}

div#filter_table_ranges {
    width: 0px;
    padding: 0px 10px 0px 20px;
    border-left: thin dotted gray;
}


div#chart_div {
    display: table-cell;
    width: 1030px;
    height: 500px;
}

div.table_cell {
    display: table-cell;
}

div.table_container {
	display: table;
	border-spacing: 10px;
}

div.table_row {
	display: table-row;
}







h3.btn {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}


p.slider_label {
    font-size: 0.8em;
}

