body {
    margin: 0;
    background-color: #fff;
    font-family:      Georgia, "Times New Roman", Times, serif;
    font-size:        small;
}

h1 {
    font-size: 4.0em;
}

section#main-content {
    width: 1100px;
    margin: 5px auto;
    background-color: #fff;
    height: 500px;
}

h1#title {
    display: inline;
}

div#sBox {
    display: inline;
    float: right;
    margin-top: 15px;
}

div#chart_div {
    width: 1200px;
    height: 570px;
    z-index: 1;
}

section#top-panel {
    padding: 5px;
    margin: 10px 0px;
    vertical-align: top;
}

input#searchBox {
    margin: 0;
    padding: 5px 15px;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 20px;
}

input#searchButton {
    margin: 0;
    margin-left: -4px;
    padding: 5px 15px;
    font-size: 14px;
    height: 32px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #d1d1d1;
    border-left: 0px;
    background-color: #79afc1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

input#searchButton:hover {
    background-color: #535389;
}

div#filter_div, h2#open_filters, input#searchBox, input#searchButton, h3#filter_btn {
    border: thin solid #8b8b8b;
}


div#filter_div, h2#open_filters {
    position: absolute;
    z-index: 2;
    right: 0;
    background-color: #fff;
    width: 170px;
    padding: 10px 15px;
    border-bottom-left-radius: 10px;
}

div#filter_div {
    top: 130px;
    border-top: none;
}

h2#open_filters {
    font-size: 2.0em;
    top: 65px;
    border-top-left-radius: 10px;
}

div#range_div, h3#open_ranges {
    border: thin solid #8b8b8b;
    padding: 10px 15px;
}

div#range_div {
    background-color: #fff;
    margin-top: -20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
}

h3#open_ranges {
    border-radius: 5px;
}

h3#filter_btn {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}

input#PERange, input#DivRange {
    border: none; 
    width: 60px;
    color: #f6931f; 
    font-weight: bold;
    padding-left: 10px;
}

div#PERatio_slider, div#Div_slider {
    margin-top: -11px;
    margin-bottom: 20px;
}

